@font-face 
  font-family: 'HelveticaNeue-Medium'
  src: url('../fonts/HelveticaNeue-Medium.eot')
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'), url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue.eot')
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg'), url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Geomanist-Book'
  src: url('../fonts/Geomanist-Book.eot')
  src: url('../fonts/Geomanist-Book.woff2') format('woff2'), url('../fonts/Geomanist-Book.woff') format('woff'), url('../fonts/Geomanist-Book.ttf') format('truetype'),url('../fonts/Geomanist-Book.svg#Geomanist-Book') format('svg'), url('../fonts/Geomanist-Book.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal




