body 
  font-family: 'HelveticaNeue', sans-serif
  color: #ffffff

.section-title
  font-family: 'Geomanist-Book', sans-serif
  font-size: 32px
  color: #FFFFFF
  letter-spacing: -0.23px
  text-align: center