html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  color: #ffffff; }

.section-title {
  font-family: 'Geomanist-Book', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.23px;
  text-align: center; }
  @media (max-width: 768px) {
    .section-title {
      font-size: 28px;
      letter-spacing: -0.2px; } }
  @media (max-width: 500px) {
    .section-title {
      font-size: 25px;
      line-height: 1.4; } }

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"), url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist-Book';
  src: url("../fonts/Geomanist-Book.eot");
  src: url("../fonts/Geomanist-Book.woff2") format("woff2"), url("../fonts/Geomanist-Book.woff") format("woff"), url("../fonts/Geomanist-Book.ttf") format("truetype"), url("../fonts/Geomanist-Book.svg#Geomanist-Book") format("svg"), url("../fonts/Geomanist-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

.primary-btn {
  display: inline-block;
  width: 212px;
  height: 60px;
  padding-top: 19px;
  background: #13B989;
  -webkit-box-shadow: 0 6px 8px 0 #190F45;
          box-shadow: 0 6px 8px 0 #190F45;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  text-align: center; }

.primary-btn:hover {
  background: #14c793; }

.primary-btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  overflow-x: hidden; }

body {
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.relative {
  position: relative; }

.text-center {
  text-align: center; }

.header {
  position: relative;
  padding: 30px 0 145px;
  background: -webkit-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(1953.06px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }
  @media (max-width: 768px) {
    .header {
      padding: 30px 0 155px; } }

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background: url("../img/decoration/loop1.svg") center no-repeat; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 102px; }
  @media (max-width: 768px) {
    .header-top {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 75px; } }

.header-right {
  padding-top: 7px; }
  @media (max-width: 768px) {
    .header-right {
      display: none; } }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-list-item + .nav-list-item {
  margin-left: 71px; }
  @media (max-width: 900px) {
    .nav-list-item + .nav-list-item {
      margin-left: 50px; } }

.nav-link {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  opacity: 0.7; }

.nav-link:hover {
  opacity: 1; }

.hero-content {
  max-width: 770px;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 900px) {
    .hero-content {
      max-width: 610px; } }

.hero-title {
  margin-bottom: 10px;
  font-family: 'Geomanist-Book', sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #FFFFFF;
  letter-spacing: -0.3px; }
  @media (max-width: 900px) {
    .hero-title {
      font-size: 36px;
      letter-spacing: -0.26px; } }
  @media (max-width: 900px) {
    .hero-title {
      font-size: 32px; } }

.hero-text {
  margin-bottom: 40px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px;
  opacity: 0.8; }
  @media (max-width: 900px) {
    .hero-text {
      margin-bottom: 35px;
      font-size: 16px;
      letter-spacing: -0.5px; } }

.problems-solutions {
  position: relative;
  padding: 123px 0 180px;
  background: -webkit-radial-gradient(15.67% 14.13%, 2038.19px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2038.19px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2038.19px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }
  @media (max-width: 990px) {
    .problems-solutions {
      padding: 50px 0 110px; } }
  @media (max-width: 768px) {
    .problems-solutions {
      padding: 50px 0 70px; } }

.problems-solutions::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 0;
  height: 725px;
  width: 360px;
  background: url("../img/decoration/circles.svg") center no-repeat; }
  @media (max-width: 1024px) {
    .problems-solutions::after {
      display: none; } }

.problems-solutions .container {
  position: relative;
  z-index: 10; }

.solutions {
  margin-left: 30px; }
  @media (max-width: 768px) {
    .solutions {
      margin: 50px 0 0; } }

.problems-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 75px auto 190px; }
  @media (max-width: 990px) {
    .problems-list {
      margin: 75px 0 170px; } }
  @media (max-width: 600px) {
    .problems-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 60px 0 120px; } }

.solutions-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 86px;
  text-align: center; }
  @media (max-width: 990px) {
    .solutions-list {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media (max-width: 600px) {
    .solutions-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.problems-item,
.solutions-item {
  max-width: 377px;
  width: 100%;
  text-align: center; }
  @media (max-width: 990px) {
    .problems-item,
    .solutions-item {
      width: 46%; } }
  @media (max-width: 600px) {
    .problems-item,
    .solutions-item {
      width: 350px;
      max-width: 100%; } }

@media (max-width: 600px) {
  .problems-item {
    margin-bottom: 130px; } }

.problems-item + .problems-item {
  margin-left: 40px; }
  @media (max-width: 600px) {
    .problems-item + .problems-item {
      margin-left: 0; } }

.problems-item:last-child {
  margin-bottom: 0; }

.solutions-item {
  margin-bottom: 130px; }

.solutions-item + .solutions-item {
  margin-left: 18px; }
  @media (max-width: 990px) {
    .solutions-item + .solutions-item {
      margin-left: 40px; } }
  @media (max-width: 600px) {
    .solutions-item + .solutions-item {
      margin-left: 0; } }

@media (max-width: 990px) {
  .solutions-item:last-child {
    margin: 0; } }

.problems-item-img-wrapper,
.solutions-item-img-wrapper {
  margin-bottom: 40px;
  min-height: 139px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.problems-item-title,
.solutions-item-title {
  background-image: -webkit-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: -o-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%);
  width: 100%;
  height: 72px;
  padding-top: 20px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  color: #dcddf4;
  letter-spacing: -0.56px;
  line-height: 32px;
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.problems-item-text,
.solutions-item-text {
  max-width: 254px;
  margin: 0 auto;
  font-size: 15px;
  color: #dadae5;
  letter-spacing: -0.47px;
  text-align: center;
  line-height: 20.9px; }
  @media (max-width: 600px) {
    .problems-item-text,
    .solutions-item-text {
      font-size: 14px; } }

.solutions-item-text {
  max-width: 320px; }

.problems-subtitle,
.solutions-subtitle {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 32px; }
  @media (max-width: 600px) {
    .problems-subtitle,
    .solutions-subtitle {
      font-size: 14px; } }

.process {
  position: relative;
  padding-top: 80px;
  background: -webkit-radial-gradient(15.67% 14.13%, 2192.05px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2192.05px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2192.05px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }
  @media (max-width: 768px) {
    .process {
      padding: 50px 0 163px; } }
  @media (max-width: 640px) {
    .process {
      padding: 50px 0 330px; } }

.process-title {
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .process-title {
      margin-bottom: 50px; } }

.process-img-wrapper {
  position: relative;
  max-width: 1020px;
  margin: 0 auto 200px;
  text-align: center; }

.tooltip-block {
  position: absolute;
  outline: none; }
  @media (max-width: 600px) {
    .tooltip-block {
      display: none; } }

.tooltip-block:nth-child(1) {
  top: 17%;
  left: 0;
  width: 18%;
  height: 21%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(1) {
      top: 12%;
      left: 9%;
      width: 12%;
      height: 24%; } }

.tooltip-block:nth-child(2) {
  top: 6%;
  left: 34%;
  width: 24%;
  height: 21%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(2) {
      top: 1%;
      left: 46%;
      width: 18%;
      height: 25%; } }

.tooltip-block:nth-child(3) {
  top: 24%;
  right: 0;
  width: 22%;
  height: 17%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(3) {
      top: 22%;
      right: 4%;
      width: 17%;
      height: 17%; } }

.tooltip-block:nth-child(4) {
  top: 59%;
  right: 13%;
  width: 11%;
  height: 23%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(4) {
      top: 55%;
      right: 9%;
      width: 14%;
      height: 21%; } }

.tooltip-block:nth-child(5) {
  top: 72%;
  right: 36%;
  width: 15%;
  height: 28%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(5) {
      top: 74%;
      right: 37%;
      width: 14%;
      height: 26%; } }

.tooltip-block:nth-child(6) {
  top: 65%;
  left: 4%;
  width: 21%;
  height: 27%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(6) {
      top: 61%;
      left: 5%;
      width: 26%;
      height: 25%; } }

.tooltip-block:nth-child(7) {
  top: 37%;
  left: 38%;
  width: 22%;
  height: 21%; }
  @media (max-width: 900px) {
    .tooltip-block:nth-child(7) {
      top: 30%;
      left: 29%;
      width: 29%;
      height: 24%; } }

.tooltip {
  display: none;
  position: absolute;
  width: 300px;
  padding: 15px 20px;
  background: #4149ba;
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 16px;
  color: #dcddf3;
  letter-spacing: -0.5px;
  line-height: 25px;
  text-align: left; }

.tooltip-block:hover .tooltip {
  display: block; }

@media (max-width: 1400px) {
  .tooltip-block:focus .tooltip {
    display: block; } }

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 41%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  border: 12px solid transparent;
  border-top: 10px solid #4149ba; }

.tooltip-1st-key {
  top: -11%;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-1st-key::after {
    left: 8%; } }

.tooltip-web-app {
  top: -11%;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-web-app::after {
    left: 13%; } }

.tooltip-relayer {
  top: -11%;
  right: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-relayer::after {
    left: 75%; } }

.tooltip-wallet {
  top: -11%;
  right: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-wallet::after {
    left: 75%; } }

.tooltip-wallet::after {
  left: 78%; }

.tooltip-3rd-key {
  top: -11%;
  right: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.tooltip-3rd-key::after {
  left: 78%; }

.tooltip-2nd-key {
  top: -11%;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-2nd-key::after {
    left: 20%; } }

.tooltip-identity {
  top: -11%;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

@media (max-width: 900px) {
  .tooltip-identity::after {
    left: 11%; } }

.process-img {
  max-width: 100%;
  width: 100%; }

@media (max-width: 900px) {
  .process-img-desktop {
    display: none; } }

@media (max-width: 900px) {
  .process-img-tablet {
    display: inline-block; } }

@media (max-width: 600px) {
  .process-img-tablet {
    display: none; } }

@media (max-width: 600px) {
  .process-img-mob {
    display: inline-block; } }

.code-subtitle {
  max-width: 544px;
  margin: 24px auto 0;
  font-size: 18px;
  color: #dbdae3;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px; }

@media (max-width: 900px) {
  .code-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.code-block code {
  display: block;
  max-width: 685px;
  margin: 45px auto 0;
  padding: 0px 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #110C22;
  line-height: 20px;
  text-align: left; }

.code-btn-wrapper {
  text-align: center;
  margin-top: 30px; }

.links {
  position: relative;
  padding: 50px 20px;
  margin-top: 100px;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  background: -webkit-linear-gradient(289.06deg, #706AE1 0%, #3742B2 100%);
  background: -o-linear-gradient(289.06deg, #706AE1 0%, #3742B2 100%);
  background: linear-gradient(160.94deg, #706AE1 0%, #3742B2 100%);
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  z-index: 10; }
  @media (max-width: 768px) {
    .links {
      position: absolute;
      bottom: -150px;
      left: 50%;
      max-width: 95%;
      width: 100%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }
  @media (max-width: 600px) {
    .links {
      bottom: -200px; } }

.links::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 700px;
  height: 100%;
  background: url("../img/decoration/looper@1x.png") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: -1; }
  @media (max-width: 640px) {
    .links::after {
      height: 100%;
      width: 100%;
      -webkit-background-size: cover;
              background-size: cover; } }

.links-title {
  margin-bottom: 51px; }

.links-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 870px;
  margin: 0 auto;
  z-index: 10; }
  @media (max-width: 640px) {
    .links-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.links-list-item + .links-list-item {
  margin-left: 2.7%; }
  @media (max-width: 640px) {
    .links-list-item + .links-list-item {
      margin: 20px 0 0; } }

.links-list-item {
  max-width: 270px;
  width: 31.5%; }
  @media (max-width: 640px) {
    .links-list-item {
      width: 100%; } }

.link {
  display: block;
  width: 100%;
  height: 70px;
  padding-top: 25px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 6px 8px 0 #3843B3;
          box-shadow: 0 6px 8px 0 #3843B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  text-align: center; }
  @media (max-width: 768px) {
    .link {
      font-size: 15px; } }

.link:hover {
  background: rgba(255, 255, 255, 0.2); }

.creators {
  position: relative;
  padding: 266px 0 0;
  background: -webkit-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2437.43px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }
  @media (max-width: 768px) {
    .creators {
      padding: 210px 0 0; } }
  @media (max-width: 600px) {
    .creators {
      padding: 315px 0 0; } }

.creators .container {
  position: relative;
  z-index: 20; }

.creators-title {
  margin-bottom: 48px; }

.creators-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 110px; }
  @media (max-width: 768px) {
    .creators-list {
      margin-bottom: 58px; } }
  @media (max-width: 640px) {
    .creators-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.creators-label {
  margin-bottom: 20px;
  font-family: 'Geomanist-Book', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: -0.14px;
  text-align: center; }
  @media (max-width: 768px) {
    .creators-label {
      font-size: 18px;
      line-height: 23px; } }

.creators-ethworks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 640px) {
    .creators-ethworks {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.creator {
  position: relative;
  width: 170px;
  height: 170px; }

.creator-img {
  max-width: 100%; }

.creator-name {
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: 32px; }

.creators-list-item + .creators-list-item {
  margin-left: 30px; }
  @media (max-width: 640px) {
    .creators-list-item + .creators-list-item {
      margin: 30px 0 0 0; } }

.creators-ethworks .creator:nth-child(2) {
  margin-left: 30px; }
  @media (max-width: 640px) {
    .creators-ethworks .creator:nth-child(2) {
      margin-left: 0;
      margin-top: 20px; } }

.grants {
  margin-bottom: 180px; }
  @media (max-width: 900px) {
    .grants {
      margin-bottom: 130px; } }
  @media (max-width: 600px) {
    .grants {
      margin-bottom: 200px; } }

.grants-title {
  margin-bottom: 56px; }
  @media (max-width: 768px) {
    .grants-title {
      margin-bottom: 80px; } }

.grants-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 470px;
  margin: 0 auto; }
  @media (max-width: 500px) {
    .grants-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

@media (max-width: 500px) {
  .grants-list-item + .grants-list-item {
    margin-top: 85px; } }

.eth-community-img {
  width: 166px;
  height: 55px; }

.open-source {
  position: relative;
  padding-bottom: 157px; }

.open-source .container {
  padding: 0; }

.open-source-title {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px); }

.map-img-container {
  position: relative; }

.map-img {
  max-width: 100%; }
  @media (max-width: 900px) {
    .map-img {
      width: 100%; } }

@media (max-width: 900px) {
  .map-img-desktop {
    display: none; } }

@media (max-width: 900px) {
  .map-img-tablet {
    display: inline-block; } }

@media (max-width: 600px) {
  .map-img-tablet {
    display: none; } }

@media (max-width: 600px) {
  .map-img-mobile {
    display: inline-block; } }

.pin {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #706AE1; }

.pin-freemont {
  top: 46.8%;
  left: 13.9%; }
  @media (max-width: 900px) {
    .pin-freemont {
      top: 42.8%;
      left: 17.9%; } }
  @media (max-width: 600px) {
    .pin-freemont {
      top: 43.8%;
      left: 3.9%; } }

.pin-boston {
  top: 42%;
  left: 26.8%; }
  @media (max-width: 900px) {
    .pin-boston {
      top: 38%;
      left: 34.8%; } }
  @media (max-width: 600px) {
    .pin-boston {
      left: 31%; } }

.pin-rio {
  bottom: 15.5%;
  left: 34.1%; }
  @media (max-width: 900px) {
    .pin-rio {
      bottom: 20.5%;
      left: 45.1%; } }

.pin-bulgaria {
  top: 40.3%;
  left: 53.8%; }
  @media (max-width: 900px) {
    .pin-bulgaria {
      top: 37%;
      left: 70.8%; } }
  @media (max-width: 600px) {
    .pin-bulgaria {
      left: 90.8%; } }

.pin-genoa {
  top: 38.8%;
  left: 49.4%; }
  @media (max-width: 900px) {
    .pin-genoa {
      top: 35.8%;
      left: 65%; } }
  @media (max-width: 600px) {
    .pin-genoa {
      left: 81%; } }

.pin-warsaw {
  top: 33.8%;
  left: 53.8%; }
  @media (max-width: 900px) {
    .pin-warsaw {
      top: 30.5%;
      left: 70.8%; } }
  @media (max-width: 600px) {
    .pin-warsaw {
      top: 28.5%;
      left: 90.8%; } }

.pin-lodz {
  top: 33.8%;
  left: 51.6%; }
  @media (max-width: 900px) {
    .pin-lodz {
      top: 30.8%;
      left: 66.6%; } }
  @media (max-width: 600px) {
    .pin-lodz {
      top: 30%;
      left: 84%; } }

.pin-hover-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  outline: none; }
  @media (max-width: 600px) {
    .pin-hover-area {
      width: 20px;
      height: 20px; } }

.pin-tooltip {
  position: absolute;
  top: 0px;
  left: 0;
  width: 160px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  display: none;
  padding: 10px;
  background: #ffffff;
  background: #4149ba;
  color: #dcddf3;
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.pin-freemont .pin-tooltip {
  width: 200px; }

.pin-boston .pin-tooltip {
  width: 200px; }

.pin-rio .pin-tooltip {
  width: 220px; }

.pin-bulgaria .pin-tooltip {
  width: 200px; }
  @media (max-width: 600px) {
    .pin-bulgaria .pin-tooltip {
      -webkit-transform: translate(-88%, -100%);
          -ms-transform: translate(-88%, -100%);
              transform: translate(-88%, -100%); } }

.pin-warsaw .pin-tooltip {
  width: 250px; }
  @media (max-width: 600px) {
    .pin-warsaw .pin-tooltip {
      -webkit-transform: translate(-88%, -100%);
          -ms-transform: translate(-88%, -100%);
              transform: translate(-88%, -100%); } }

.pin-lodz .pin-tooltip {
  width: 190px; }
  @media (max-width: 600px) {
    .pin-lodz .pin-tooltip {
      -webkit-transform: translate(-88%, -100%);
          -ms-transform: translate(-88%, -100%);
              transform: translate(-88%, -100%); } }

.pin-genoa .pin-tooltip {
  width: 190px; }
  @media (max-width: 600px) {
    .pin-genoa .pin-tooltip {
      -webkit-transform: translate(-88%, -100%);
          -ms-transform: translate(-88%, -100%);
              transform: translate(-88%, -100%); } }

.pin-hover-area:hover .pin-tooltip {
  display: block; }

.pin-hover-area:focus .pin-tooltip {
  display: block; }

.pin-tooltip-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.pin-tooltip-row + .pin-tooltip-row {
  margin-top: 10px; }

.pin-tooltip-avatar {
  width: 55px;
  height: 55px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.pin-tooltip-nickname {
  font-size: 14px;
  color: #aaa;
  margin: 5px 0; }

.pin-tooltip-location {
  position: relative;
  font-size: 14px;
  padding-left: 15px; }

.pin-tooltip-location::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/pin.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.roadmap {
  padding-bottom: 157px; }
  @media (max-width: 900px) {
    .roadmap {
      padding-bottom: 135px; } }
  @media (max-width: 640px) {
    .roadmap {
      padding-bottom: 90px; } }

@media (max-width: 900px) {
  .roadmap .container {
    padding: 0; } }

.roadmap-title {
  margin-bottom: 87px; }
  @media (max-width: 640px) {
    .roadmap-title {
      margin-bottom: 22px; } }

.timeline {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 985px;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .timeline {
      padding: 0 30px; } }
  @media (max-width: 768px) {
    .timeline {
      padding: 0 15px; } }
  @media (max-width: 640px) {
    .timeline {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 200px;
      padding: 87px 0 40px 20px; } }

.timeline::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("../img/decoration/roadmap-line.svg") center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  @media (max-width: 640px) {
    .timeline::before {
      height: 100%;
      width: 2px;
      top: 0;
      left: 0;
      background: url("../img/decoration/roadmap-vertical-line.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; } }

.timeline-item {
  position: relative;
  max-width: 200px;
  width: 100%;
  text-align: center; }
  @media (max-width: 900px) {
    .timeline-item {
      max-width: 172px; } }
  @media (max-width: 640px) {
    .timeline-item {
      text-align: left; } }

.timeline-item::before {
  content: '';
  position: absolute;
  top: 53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #706AE1; }
  @media (max-width: 640px) {
    .timeline-item::before {
      top: 0;
      left: -26px;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }

.timeline-item::after {
  content: '';
  position: absolute;
  top: 81px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 13px;
  height: 34px;
  background: url("../img/icons/arrow-bright.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  @media (max-width: 640px) {
    .timeline-item::after {
      top: 35px;
      left: 16px;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }

@media (max-width: 640px) {
  .timeline-item + .timeline-item {
    margin-top: 60px; } }

.timeline-item-label {
  padding-bottom: 120px;
  font-size: 14px;
  color: #FAFBFC;
  letter-spacing: -0.44px; }
  @media (max-width: 640px) {
    .timeline-item-label {
      padding-bottom: 75px; } }

.timeline-item-description {
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: -0.47px;
  line-height: 22px;
  opacity: 0.85; }

.footer {
  position: relative;
  padding: 50px 0 112px;
  background-image: -webkit-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: -o-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%);
  z-index: 20; }
  @media (max-width: 768px) {
    .footer {
      padding: 50px 0; } }

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .footer-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.footer-mail {
  opacity: 0.8;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px;
  font-style: normal; }
  @media (max-width: 768px) {
    .footer-mail {
      margin-top: 30px; } }

.editor-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  padding: 24px 60px;
  background: #1b1f27; }

.editor-header-logo {
  margin-right: 32px; }

.tutorial-link {
  width: 107px;
  height: 35px;
  padding-top: 12px;
  background: #3D404E;
  font-family: 'Geomanist-Book';
  font-size: 13px;
  color: #ebeced;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.editor-box {
  height: -webkit-calc(100vh - 88px);
  height: calc(100vh - 88px); }
