html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  color: #ffffff; }

.section-title {
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.23px;
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.relative {
  position: relative; }

.header {
  padding: 30px 0 125px;
  background: -webkit-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(1953.06px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 102px; }

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-list-item + .nav-list-item {
  margin-left: 71px; }

.nav-link {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  opacity: 0.7; }

.nav-link:hover {
  opacity: 1; }

.hero-content {
  max-width: 770px;
  margin: 0 auto;
  text-align: center; }

.hero-title {
  margin-bottom: 10px;
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 42px;
  color: #FFFFFF;
  letter-spacing: -0.3px; }

.hero-text {
  margin-bottom: 40px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px;
  opacity: 0.8; }

.hero-link {
  display: inline-block;
  width: 212px;
  height: 60px;
  padding-top: 19px;
  background: #13B989;
  -webkit-box-shadow: 0 6px 8px 0 #190F45;
          box-shadow: 0 6px 8px 0 #190F45;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  text-align: center; }

.hero-link:hover {
  background: #14c793; }

.hero-link:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px); }

.problems-solutions {
  padding: 65px 0 90px;
  background: -webkit-radial-gradient(15.67% 14.13%, 2038.19px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2038.19px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2038.19px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }

.propblems-solutions-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.solutions {
  margin-left: 30px; }

.problems-subtitle,
.solutions-subtitle {
  margin-bottom: 25px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 32px; }

.problems-list-item + .problems-list-item,
.solutions-list-item + .solutions-list-item {
  margin-top: 20px; }

.problems-list-item,
.solutions-list-item {
  padding: 20px 30px;
  background-image: -webkit-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: -o-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%);
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 18px;
  color: #dbdcf3;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px; }

.process {
  padding-top: 80px;
  background: -webkit-radial-gradient(15.67% 14.13%, 2192.05px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2192.05px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2192.05px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }

.process-img-wrapper {
  text-align: center; }

.process-img {
  max-width: 100%; }

.links {
  padding: 50px 20px;
  margin-top: 40px;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  background-image: -webkit-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: -o-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%);
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.links-title {
  margin-bottom: 51px; }

.links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.links-list-item + .links-list-item {
  margin-left: 2.7%; }

.links-list-item {
  max-width: 270px;
  width: 24%; }

.link {
  display: block;
  width: 100%;
  height: 70px;
  padding-top: 25px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 6px 8px 0 #3843B3;
          box-shadow: 0 6px 8px 0 #3843B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.32px;
  text-align: center; }

.creators {
  padding: 183px 0 314px;
  background: -webkit-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2437.43px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }

.creators-title {
  margin-bottom: 48px; }

.creators-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 110px; }

.creators-label {
  margin-bottom: 20px;
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: -0.14px;
  text-align: center; }

.creators-ethworks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.creator {
  position: relative;
  width: 170px;
  height: 170px; }

.creator-img {
  max-width: 100%; }

.creator-name {
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: 32px; }

.creators-list-item + .creators-list-item {
  margin-left: 30px; }

.creators-ethworks .creator:nth-child(2) {
  margin-left: 30px; }

.grants {
  margin-bottom: 140px; }

.grants-title {
  margin-bottom: 56px; }

.grants-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 470px;
  margin: 0 auto; }

.eth-community-img {
  width: 166px;
  height: 55px; }

.open-source {
  position: relative;
  padding: 27px 0 0; }

.open-source::after {
  content: '';
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1239px;
  max-width: 100%;
  height: 600px;
  background: url("../img/map.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.footer {
  position: relative;
  padding: 50px 0 112px;
  background-image: -webkit-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: -o-linear-gradient(315deg, #706AE1 0%, #3742B2 100%);
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%);
  -webkit-box-shadow: 0 6px 8px 0 #0A0642;
          box-shadow: 0 6px 8px 0 #0A0642; }

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-mail {
  opacity: 0.8;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.56px;
  text-align: center;
  line-height: 32px;
  font-style: normal; }
