.creators
  position: relative
  background: -webkit-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%)
  background: -o-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%)
  background: radial-gradient(2437.43px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%)
  
.creators .container
  position: relative
  z-index: 20

.creators-title
  margin-bottom: 48px

.creators-list
  display: flex
  justify-content: center
  margin-bottom: 110px
  flex-wrap: wrap

  +media(m, 100px)
    max-width: 690px
    margin: 0 auto 100px
    justify-content: flex-start

  +media(s, 40px)
    flex-direction: column
    align-items: center

.creators-label
  margin-bottom: 20px
  font-family: 'Geomanist-Book', sans-serif
  font-weight: 500
  font-size: 20px
  color: #FFFFFF
  letter-spacing: -0.14px
  text-align: center

  +media(s, 168px)
    font-size: 18px
    line-height: 23px
  
.creators-ethworks
  display: flex

  +media(s, 40px)
    flex-direction: column
    align-items: center

.creators-list-item
  position: relative
  width: 18%
  margin: 0 2% 2% 0

  +media(m, 100px)
    width: 30.6%
    margin: 0 4% 4% 0

  +media(s, 40px)
    width: 210px
    margin: 0 0 30px 0

.creators-list-item:nth-child(3)
  +media(m, 100px)
    margin-right: 0
  
.creators-list-item:last-child
  margin-right: 0
    
.creator-img
  max-width: 100%
  
.creator-name
  position: absolute
  left: 50%
  bottom: 25px
  width: 100%
  transform: translateX(-50%)
  opacity: 0.8
  color: #FFFFFF
  font-size: 16px
  letter-spacing: -0.27px
  text-align: center
  line-height: 32px

.creator-label
  position: absolute
  left: 50%
  bottom: 15px
  width: 100%
  transform: translateX(-50%)
  font-size: 9px
  color: #53F0CC
  letter-spacing: 0.65px
  text-align: center
  text-transform: uppercase
  
.working-group
  margin: 0 auto 160px

  +media(m)
    margin-bottom: 100px

.working-group-title
  margin-bottom: 25px

.working-group-subtitle
  max-width: 544px
  margin: 0 auto 50px
  font-size: 18px
  color: #FFFFFF
  letter-spacing: -0.56px
  text-align: center
  line-height: 32px
  opacity: 0.85

.working-group-list
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between

  +media(s, -100px)
    flex-direction: column
  
.working-group-list-item
  +media(s, 168px)
    width: 50%
    margin-bottom: 30px
    text-align: center

.working-group-list-item:nth-child(odd)
  +media(s, 168px)
    margin-left: 0


.kickback-img
  max-width: 131px

.iexec-img
  max-width: 172px
  
.contributors-list
  display: flex
  max-width: 478px
  margin: 50px auto 130px
  flex-wrap: wrap

  +media(s)
    max-width: 290px

.contributors-list-item
  width: 21.2%
  margin: 0 5% 5% 0

  +media(s)
    width: 85px
    height: 85px
    margin: 0 15px 15px 0

.contributors-list-item:nth-child(4n)
  margin-right: 0

  +media(s)
    margin: 0 15px 15px 0

.contributors-list-item:nth-child(3n)
  +media(s)
    margin: 0

.contributor-link
  display: block
  
.contributor-img
  width: 100%
  height: 100%
  max-width: 100%