.creators
  position: relative
  padding: 266px 0 0
  background: -webkit-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%)
  background: -o-radial-gradient(15.67% 14.13%, 2437.43px, #0C0E57 0%, #14052C 100%)
  background: radial-gradient(2437.43px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%)
  
  +media(s, 168px)
    padding: 210px 0 0

  +media(s)
    padding: 315px 0 0
  
.creators .container
  position: relative
  z-index: 20

.creators-title
  margin-bottom: 48px

.creators-list
  display: flex
  justify-content: center
  margin-bottom: 110px

  +media(s, 168px)
    margin-bottom: 58px

  +media(s, 40px)
    flex-direction: column
    align-items: center

.creators-label
  margin-bottom: 20px
  font-family: 'Geomanist-Book', sans-serif
  font-weight: 500
  font-size: 20px
  color: #FFFFFF
  letter-spacing: -0.14px
  text-align: center

  +media(s, 168px)
    font-size: 18px
    line-height: 23px
  
.creators-ethworks
  display: flex

  +media(s, 40px)
    flex-direction: column
    align-items: center

.creator
  position: relative
  width: 170px
  height: 170px

.creator-img
  max-width: 100%
  
.creator-name
  position: absolute
  left: 50%
  bottom: 10px
  width: 100%
  transform: translateX(-50%)
  opacity: 0.8
  color: #FFFFFF
  font-size: 14px
  letter-spacing: -0.24px
  text-align: center
  line-height: 32px

.creators-list-item + .creators-list-item
  margin-left: 30px

  +media(s, 40px)
    margin: 30px 0 0 0

.creators-ethworks .creator:nth-child(2)
  margin-left: 30px

  +media(s, 40px)
    margin-left: 0
    margin-top: 20px

.grants
  margin-bottom: 180px

  +media(m)
    margin-bottom: 130px
  
  +media(s)
    margin-bottom: 200px

.grants-title
  margin-bottom: 56px

  +media(s, 168px)
    margin-bottom: 80px

.grants-list
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 470px
  margin: 0 auto

  +media(s, -100px)
    flex-direction: column
    align-items: center

.grants-list-item + .grants-list-item
  +media(s, -100px)  
    margin-top: 85px

.eth-community-img
  width: 166px
  height: 55px

.open-source
  position: relative
  padding-bottom: 157px

.open-source .container
  padding: 0

.open-source-title
  transform: translateY(50px)

.map-img-container
  position: relative
  
.map-img
  max-width: 100%

  +media(m)
    width: 100%

.map-img-desktop
  +media(m)
    display: none
.map-img-tablet
  +media(m)
    display: inline-block

  +media(s)
    display: none

.map-img-mobile
  +media(s)
    display: inline-block
  
.pin
  position: absolute
  width: 11px
  height: 11px
  background: #ffffff
  border-radius: 50%
  border: 3px solid #706AE1

.pin-freemont
  top: 46.8%
  left: 13.9%

  +media(m)
    top: 42.8%
    left: 17.9%

  +media(s)
    top: 43.8%
    left: 3.9%
  
.pin-boston
  top: 42%
  left: 26.8%
  
  +media(m)
    top: 38%
    left: 34.8%

  +media(s)
    left: 31%

.pin-rio
  bottom: 15.5%
  left: 34.1%

  +media(m)
    bottom: 20.5%
    left: 45.1%

.pin-bulgaria
  top: 40.3%
  left: 53.8%

  +media(m)
    top: 37%
    left: 70.8%

  +media(s)
    left: 90.8%

.pin-genoa
  top: 38.8%
  left: 49.4%

  +media(m)
    top: 35.8%
    left: 65%

  +media(s)
    left: 81%
  
.pin-warsaw
  top: 33.8%
  left: 53.8%

  +media(m)
    top: 30.5%
    left: 70.8%

  +media(s)
    top: 28.5%
    left: 90.8%
  
.pin-lodz
  top: 33.8%
  left: 51.6%

  +media(m)
    top: 30.8%
    left: 66.6%

  +media(s)
    top: 30%
    left: 84%

.pin-hover-area
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 30px
  height: 30px
  outline: none

  +media(s)
    width: 20px
    height: 20px

.pin-tooltip
  position: absolute
  top: 0px
  left: 0
  width: 160px
  transform: translateY(-100%)
  display: none
  padding: 10px
  background: #ffffff
  background: #4149ba
  color: #dcddf3
  box-shadow: 0 6px 8px 0 #0A0642
  border-radius: 6px
  
.pin-freemont .pin-tooltip
  width: 200px

.pin-boston .pin-tooltip
  width: 200px

.pin-rio .pin-tooltip
  width: 220px

.pin-bulgaria .pin-tooltip
  width: 200px

  +media(s)
    transform: translate(-88%, -100%)

.pin-warsaw .pin-tooltip
  width: 250px

  +media(s)
    transform: translate(-88%, -100%)

.pin-lodz .pin-tooltip
  width: 190px

  +media(s)
    transform: translate(-88%, -100%)

.pin-genoa .pin-tooltip
  width: 190px

  +media(s)
    transform: translate(-88%, -100%)
  
.pin-hover-area:hover .pin-tooltip
  display: block

.pin-hover-area:focus .pin-tooltip
  display: block

.pin-tooltip-row
  display: flex

.pin-tooltip-row + .pin-tooltip-row
  margin-top: 10px
  
.pin-tooltip-avatar
  width: 55px
  height: 55px
  margin-right: 8px
  border-radius: 3px

.pin-tooltip-nickname
  font-size: 14px
  color: #aaa
  margin: 5px 0

.pin-tooltip-location
  position: relative
  font-size: 14px
  padding-left: 15px

.pin-tooltip-location::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  width: 10px
  height: 10px
  transform: translateY(-50%)
  background: url('../img/pin.svg') center no-repeat
  background-size: contain