.creators
  position: relative
  padding: 183px 0 314px
  background: radial-gradient(2437.43px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%)
  
  +media(s, 168px)
    padding: 210px 0 230px
  
.creators::after
  content: ''
  position: absolute
  top: -300px
  right: 0
  width: 925px
  height: 1149px
  background: url('../img/decoration/loop2.svg') center no-repeat
  
  +media(m, 124px)
    right: -350px
  
.creators .container
  position: relative
  z-index: 20

.creators-title
  margin-bottom: 48px

.creators-list
  display: flex
  justify-content: center
  margin-bottom: 110px

  +media(s, 168px)
    margin-bottom: 58px

  +media(s, 40px)
    flex-direction: column
    align-items: center

.creators-label
  margin-bottom: 20px
  font-family: 'Geomanist-Book', sans-serif
  font-size: 20px
  color: #FFFFFF
  letter-spacing: -0.14px
  text-align: center

  +media(s, 168px)
    font-size: 18px
    line-height: 23px
  
.creators-ethworks
  display: flex

  +media(s, 40px)
    flex-direction: column
    align-items: center
    margin-bottom: 20px

.creator
  position: relative
  width: 170px
  height: 170px

.creator-img
  max-width: 100%
  
.creator-name
  position: absolute
  left: 50%
  bottom: 10px
  width: 100%
  transform: translateX(-50%)
  opacity: 0.8
  color: #FFFFFF
  font-size: 14px
  letter-spacing: -0.24px
  text-align: center
  line-height: 32px

.creators-list-item + .creators-list-item
  margin-left: 30px

  +media(s, 40px)
    margin-left: 0

.creators-ethworks .creator:nth-child(2)
  margin-left: 30px

  +media(s, 40px)
    margin-left: 0
    margin-top: 20px

.grants
  margin-bottom: 140px

.grants-title
  margin-bottom: 56px

  +media(s, 168px)
    margin-bottom: 80px

.grants-list
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 470px
  margin: 0 auto

  +media(s, -100px)
    flex-direction: column
    align-items: center

.grants-list-item + .grants-list-item
  +media(s, -100px)  
    margin-top: 20px

.eth-community-img
  width: 166px
  height: 55px

.open-source
  position: relative
  padding: 27px 0 0

.open-source::after
  content: ''
  position: absolute
  top: -25px
  left: 50%
  transform: translateX(-50%)
  width: 1239px
  max-width: 100%
  height: 600px
  background: url('../img/map.svg') center no-repeat
  background-size: contain

  +media(m, 50px)
    top: -90px

  +media(s, 168px)
    top: -135px