.footer
  position: relative
  padding: 50px 0 112px
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%)

  +media(s, 168px)
    padding: 50px 0

.footer-row
  display: flex
  align-items: center
  justify-content: space-between

  +media(s, 168px)
    flex-direction: column
    align-items: center

.footer-mail
  opacity: 0.8
  font-size: 18px
  color: #FFFFFF
  letter-spacing: -0.56px
  text-align: center
  line-height: 32px
  font-style: normal

  +media(s, 168px)
    margin-top: 30px