.header
  position: relative
  min-height: 100vh
  padding: 30px 0 145px
  background: linear-gradient(179.99deg, #566CEF -54.29%, #0C0D57 44.63%, #14052C 110.34%)

  +media(s, 168px)
    padding: 30px 0 155px
  
.header-top
  display: flex
  justify-content: space-between
  margin-bottom: 75px

  +media(s, 168px)
    justify-content: center
  
.header-right
  padding-top: 7px
  
  +media(s, 168px)
    display: none

.nav-list
  display: flex
  align-items: center

.nav-list-item + .nav-list-item
  margin-left: 71px

  +media(m)
    margin-left: 50px

.nav-link
  font-size: 16px
  color: #FFFFFF
  letter-spacing: -0.5px
  opacity: 0.7
  font-family: 'HelveticaNeue-Medium'

.nav-link:hover
  opacity: 1

.hero-row
  display: flex
  align-items: center
  justify-content: space-between

.hero-content
  max-width: 730px
  
.hero-title
  margin-bottom: 10px
  font-family: 'Geomanist-Book'
  font-weight: 500
  font-size: 58px
  color: #FFFFFF
  letter-spacing: 0
  line-height: 70px
  text-align: left

.hero-text
  font-weight: 300
  font-size: 24px
  color: #CFCEDA
  letter-spacing: 1px
  line-height: 32px

.phone
  position: relative
  width: 305px
  height: 605px

.phone img
  position: relative
  width: 305px

.phone video
  position: absolute
  top: 12px
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 98%
  border-radius: 65px