.header
  position: relative
  padding: 30px 0 125px
  background: -webkit-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%)
  background: -o-radial-gradient(15.67% 14.13%, 1953.06px, #0C0E57 0%, #14052C 100%)
  background: radial-gradient(1953.06px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%)

  +media(s, 168px)
    padding: 30px 0 115px

  +media(s, -100px)
    padding: 30px 0 70px
  
.header::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 500px
  height: 100%
  background: url('../img/decoration/loop1.svg') center no-repeat
  
.header-top
  display: flex
  justify-content: space-between
  margin-bottom: 102px

  +media(s, 168px)
    justify-content: center
    margin-bottom: 75px
  
.header-right
  padding-top: 7px
  
  +media(s, 168px)
    display: none

.nav-list
  display: flex
  align-items: center

.nav-list-item + .nav-list-item
  margin-left: 71px

  +media(m)
    margin-left: 50px

.nav-link
  font-size: 16px
  color: #FFFFFF
  letter-spacing: -0.5px
  opacity: 0.7

.nav-link:hover
  opacity: 1

.hero-content
  max-width: 770px
  margin: 0 auto
  text-align: center

  +media(m)
    max-width: 610px
  
.hero-title
  margin-bottom: 10px
  font-family: 'Geomanist-Book', sans-serif
  font-weight: 500
  font-size: 42px
  color: #FFFFFF
  letter-spacing: -0.3px

  +media(m)
    font-size: 36px
    letter-spacing: -0.26px

  +media(m)
    font-size: 32px

.hero-text
  margin-bottom: 40px
  font-size: 18px
  color: #FFFFFF
  letter-spacing: -0.56px
  text-align: center
  line-height: 32px
  opacity: 0.8

  +media(m)
    margin-bottom: 35px
    font-size: 16px
    letter-spacing: -0.5px

.hero-link
  display: inline-block
  width: 212px
  height: 60px
  padding-top: 19px
  background: #13B989
  box-shadow: 0 6px 8px 0 #190F45
  border-radius: 4px
  font-family: 'HelveticaNeue-Medium', sans-serif
  font-size: 16px
  color: #FFFFFF
  letter-spacing: -0.32px
  text-align: center

.hero-link:hover
  background: lighten(#13B989, 3%)

.hero-link:active
  transform: translateY(2px)