.process
  padding-top: 80px
  background: radial-gradient(2192.05px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%)

.process-img-wrapper
  text-align: center
  
.process-img
  max-width: 100%

.links
  padding: 50px 20px
  margin-top: 40px
  transform: translateY(100px)
  background-image: linear-gradient(135deg, #706AE1 0%, #3742B2 100%)
  box-shadow: 0 6px 8px 0 #0A0642
  border-radius: 6px

.links-title
  margin-bottom: 51px

.links-list
  display: flex
  justify-content: center
  flex-wrap: wrap

.links-list-item + .links-list-item
  margin-left: 2.7%

.links-list-item
  max-width: 270px
  width: 24%
  
.link
  display: block
  width: 100%
  height: 70px
  padding-top: 25px
  background: rgba(255,255,255,0.10)
  border: 2px solid rgba(255,255,255,0.15)
  box-shadow: 0 6px 8px 0 #3843B3
  border-radius: 4px
  font-family: 'HelveticaNeue-Medium', sans-serif
  font-size: 16px
  color: #FFFFFF
  letter-spacing: -0.32px
  text-align: center