.scroll-section
  min-height: 100vh
  padding: 130px 0
  display: flex
  align-items: center

  +media(s, 100px)
    min-height: initial
    padding: 30px 0

.scroll-section-row
  display: flex
  justify-content: space-between
  align-items: center
  padding-right: 80px

  +media(m)
    padding-right: 50px

  +media(s, 168px)
    padding-right: 0

  +media(s, 100px)
    flex-direction: column
  
.scroll-section-content
  width: 50%

  +media(s, 100px)
    width: 100%

.scroll-section-title
  margin-bottom: 10px
  font-family: 'Geomanist-Book', sans-serif
  font-size: 40px
  color: #FFFFFF;
  letter-spacing: 0.83px
  line-height: 40px

  +media(m)
    font-size: 35px
    line-height: 1.3

  +media(s, 100px)
    font-size: 24px

.scroll-section-text
  font-size: 20px
  color: #CFCEDA
  letter-spacing: 0.83px
  line-height: 32px

  +media(m)
    font-size: 18px

  +media(s, 100px)
    font-size: 16px
    line-height: 24px

.scroll-phone
  display: none
  width: 36.25vh
  height: 74.37vh
  max-width: 290px
  max-height: 600px

  +media(s, 100px)
    display: block
    max-width: 160px
    max-height: 320px
    margin-top: 32px
    height: 100%

.scroll-phone img
  max-width: 100%

.scroll-laptop
  +media(s, 100px)
    max-height: 229px 
    max-width: 100%


.scrollable-section
  position: -webkit-sticky
  position: sticky
  top: 0
  height: 1px

  +media(s, 100px)
    display: none

.scrollable-section-inner
  min-height: 100vh
  display: flex
  align-items: center
  
.scrollable-section-row
  display: flex
  justify-content: flex-end
  align-items: center
  padding-right: 80px

  +media(m)
    padding-right: 50px

  +media(s, 168px)
    padding-right: 0
  
.scrollable-phone
  position: relative
  width: 36.25vh
  height: 74.37vh
  max-width: 290px
  max-height: 600px
  border-radius: 40px
  overflow: hidden
  transition: all 0.2s linear 
  will-change: transform

.scrollable-section-row.laptop-animation .scrollable-phone
  transform: scale(0.6)

.scrollable-video
  position: absolute
  top: 12px
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 95%
  visibility: hidden
  border-radius: 30px

.scrollable-video.visible
  visibility: visible
  
.scrollable-phone img
  position: relative
  max-width: 100%
  height: 100%

.laptop
  max-width: 550px
  opacity: 0
  display: none
  transition: all 0.2s linear

.laptop-video
  width: 100%

// .scrollable-section-row.laptop-animation .laptop
  // display: block
  // opacity: 1
